*{
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}
#container{
    max-width: 1100px;
    margin: 0px auto;
}
.form-group{
   display: block;
}
.form-group>label{
    width: 25%;
    display: inline-block;
    text-align: right;
    color: #ffffff;
}
.form-control{
    width: 200px;
    padding: 5px 5px;
    border: none;
    border-radius: 3px;
    margin-bottom: 10px;
}

#create-job{
    background-color: #0a3d62;
    width: 100%;
    margin: 0px auto;
    padding: 15px;
    align-items: center;
}
#btn-create{
    padding: 10px;
    border: none;
    border-radius: 5px;
    color:rgb(255, 255, 255);
    font-weight:bold;
    font-size: 15px;
    background-image: linear-gradient(to right, #1ee950, #1e9955);
}
#btn-create:hover{
    cursor: pointer;
    background-image: linear-gradient(to right, #1e9955, #1ee950)
}
#create-job>h1{
    color: #17cc69;

}
#job-area>table{
    width: 100%;
    border-collapse: collapse;
}
th{
    padding: 15px 10px;
}

td{
    padding: 10px 10px;
}
thead{
    background-color: #236391;
    color: #ffffff;
}